@import "variable";
button {
  background-color: #4CAF50;
  color: $Submitbtn_Color;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: $Cancelbtn_bgColor;
}